{% extends 'base.html' %}



{% block title %}Продати{% endblock title %}
{% block active_main %}{% endblock  %}

{% block main_content %}
    {% if messages %}
        <div class="alert alert-success" align="left">
          <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
          </ul>
        </div>
    {% endif %}

 <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Продати" />
  </form>

{% endblock main_content %}